.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  height: 100vh;
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  height: 100vh;
  background: #141414;
}
[class~="ant-row"] {
  background: rgba(128, 128, 128, 0.08);
}
.code-box-demo p {
  margin: 0;
}
.ant-card {
  margin-bottom: 30px;
}
.button-restaurant{
  height : 100px;
}
#container {
  width: 100vw;
  height: 100vh;
  background: url("./image/opening/opening.png");
  background-size: 100% 100%;
  background-position: center;
}
#kakao {
  position: absolute;
  top: 82vh;
  left: 50%;
  transform: translate(-50% , 0 );
}
#borderStyleb { 
  border: '1px solid palevioletred';
  text-align:"center"; 
  line-height:"100px"; 
}
#borderStyles { 
  border: '1px solid palevioletred';
  text-align:"center"; 
  line-height:"50px"; 
}
#rowStyle { 
  border: '1px solid palevioletred'; 
  text-align:"center"; 
  width: '100%';
  padding: 10;
}

[class~="ant-row"]{
  background-color: #FECCBE;
} 
[class~="ant-layout-content"]{
  background-color: #FD8A69;
}

